// Variables
@import "variables";

.navbar-default.navbar{
  background-color: #00b3ee;
}

.navbar{
  margin-bottom: 2px;
}

.big-padding{
  padding: 30px;
}
.blue-grey{
  background-color: #37474f;
}
.white{
  background-color: white;
}

.white-text{
  color: white;
}

.table{
  background-color: white;
}

.floating{
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 200;
}
